.wrapper {
  position: absolute;
  top: 60px;
  left: 50%;
  z-index: 100;

  display: flex;
  flex-wrap: wrap;
  width: 625px;

  transform: translateX(-50%);
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;

  background-color: #c4c4c4;
  border: 1px solid #000000;
}

.square > p {
  font-size: 24px;
}
