.wrapper {
  position: relative;
  z-index: 100;
  width: 625px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.square {
  width: 25px;
  height: 25px;
  background-color: #c4c4c4;
  border: 1px solid #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square > p {
  font-size: 24px;
}
