.scene {
  position: relative;

  height: 100vh;
  background: #45506e;
  overflow: hidden;
}

.winwheel {
  position: absolute;
  z-index: 10;
  transform: translateY(-50%);
  width: 800px;
  height: 800px;
  top: 60%;
  left: 14%;
}
